#slidebox{
    width:400px;
    padding:10px;
    background-color:#fff;
    border-left:3px solid orange;   
    position:fixed;
    bottom:0px;
    right:-430px;
	-moz-box-shadow:-2px 0px 5px #aaa;
	-webkit-box-shadow:-2px 0px 5px #aaa;
	box-shadow:-2px 0px 5px #aaa;
	z-index:99999;
}

#slidebox .close{
    position: absolute;
    top: 0px;
    right: 5px;
	font-size: 14pt;
    cursor: pointer;
}
